* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  max-width: 1500px;
}

h1 {
  text-align: center;
  margin: 1em;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, 165px);
  /* grid-template-columns: repeat(4, 260px); */
  justify-content: space-between;
}

@media (min-width: 730px) and (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(4, 165px);
    justify-content: center;
  }
}

.windowSizer {
  text-align: center;
  color: rgb(168, 168, 168);
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
}

.sliders {
  padding: 0 1em;
  margin-bottom: 1em;
}

.slider {
  min-width: 150px;
}
.boxes {
  height: 100%;
}

.box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  transition: ease-in-out 1000ms;
}
