* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  width: 100%;
}

.sliders {
  height: auto;
  background: white;
  padding: 30px;
}

.boxes {
  position: fixed;
  top: 25%;
  left: 40%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 226, 148);
  color: white;
  overflow: hidden;
}

.box div {
  background-color: lightskyblue;
}
