* {
  box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 186px);
  justify-content: space-evenly;
}

.sliders {
  padding: 1em 0;
}

.boxes {
  height: 100%;
}

.box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  transition: ease-in-out 1000ms;
  /* transform: translate(50%, 50%) rotate3d(0.5, 0.5, 0.5, 90deg); */
}
